<web-app>
        <servlet>
          <servlet-name>my_servlet</servlet-name>
          <servlet-class>mypackage.MyServlet</servlet-class>
        </servlet>
        <servlet-mapping>
          <servlet-name>my_servlet</servlet-name>
          <url-pattern>/my_servlet</url-pattern>
        </servlet-mapping>
	<servlet>
          <servlet-name>new</servlet-name>
          <servlet-class>mypackage.CarRentalNew</servlet-class>
        </servlet>
        <servlet-mapping>
          <servlet-name>new</servlet-name>
          <url-pattern>/new</url-pattern>
        </servlet-mapping>
        <servlet>
          <servlet-name>list</servlet-name>
          <servlet-class>mypackage.CarRentalList</servlet-class>
        </servlet>
        <servlet-mapping>
          <servlet-name>list</servlet-name>
          <url-pattern>/list</url-pattern>
        </servlet-mapping>

</web-app>

