body{
    background-color: #f4f4f9;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

nav {
    background-color: #3f88c5;
    overflow: hidden;
    border-radius: 8px;
    align-items: center;
    height: 40px;
}

nav a.logout {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 8px;
  transition: 0.3s;
}

nav a:hover {
    background-color: #032b43;
    color: white;
}

nav a.active {
  float: left;
  background-color: #032b43;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}

.welcome{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: #f4f4f9; 
    padding-top: 8px;
    padding-left: 50px;
}

footer {
    background-color: #bdd5ea;
    width: 100%;
    text-align: center;
    font-size: small;
    position: fixed;
    bottom: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 1px 0 30px 30px;
    margin: 20px;
    width: 700px;
}

.container h1{
    position: relative;
}

.container h1::before{
  content: '';
  position: absolute;
  height: 4px;
  bottom: -4px;
  width: 270px;
  border-radius: 20px;
  background: #3f88c5;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 30px 30px 0;
}

form{
    max-width: 550px;
    padding-left: 133px;
}

form input{
    width: 70%;
    padding: 10px;
    text-indent: 2.5em;
    margin-bottom: 3px;
    height: 100%;
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.4s ease;
}

form input:focus {
    border-color: #3f88c5;
}

.input-icons i {
    position: absolute;
    padding: 10px;
    min-width: 40px;
    transition: all 0.4s ease;
}

.input-icons:hover {
    color: #3f88c5;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.date-input{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

}

.btn{
  text-decoration: none;
  background-color: #3f88c5;
  color: #ffffff;
  padding: 8px 18px;
  border: none;
  outline: none;
  transition: 0.3s;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}

form .btn{
    display: flex;
    margin: 0 150px 0 150px;
}

.btn:hover{
  text-decoration: none;
  background-color: #f4f4f9;
  color: #3f88c5;
  border: none;
  outline: 1px solid #010101;
  cursor: pointer;
}

.info-icon {
  position: relative;
  display: inline-block;
  margin-left: 10px; /* Ajusta el espacio entre "Filters" y el icono de información */
  vertical-align: middle;
}