<web-app>
        <servlet>
          <servlet-name>my_servlet</servlet-name>
          <servlet-class>mypackage.MyServlet</servlet-class>
        </servlet>
        <servlet-mapping>
          <servlet-name>my_servlet</servlet-name>
          <url-pattern>/my_servlet</url-pattern>
        </servlet-mapping>
</web-app>

